:root{
    --background-color: #0e1214;
    --heading-color: #5e89b4;
    --primary-color: #1b4c9d;
    --paragrapg-color: #757a83;
    --shadow-color: #757a832a;
    --skyblue: #e5f4fd;
    --white: #ffffff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: var(--background-color);
    font-family: "Ubuntu", sans-serif;
}

footer {
    margin-bottom: 60px;

    & h3 {
        margin: 10px 0;
    }
}

h1 {
    color: var(--skyblue);
    font-size: 43px;
    line-height: 50px;
}

h2 {
    color: var(--heading-color);
    font-size: 33px;
    line-height: 50px;
}

h3 {
    color: var(--heading-color);
    font-size: 23px;
    line-height: 32px;
}

main {
    max-width: 1024px;
    margin: 0 auto;
}

p {
    color: var(--paragrapg-color);
    font-size: 17px;
    line-height: 29px;
}

.about-me {
    margin: 20px auto;
}

.btn-primary{
    background-color: var(--primary-color);
    border-radius: 10px;
    color: var(--white);
    display: flex;
    gap: 5px;
    padding: 10px;
    text-decoration: none;
    width: fit-content;
}

.check {
    display: flex;
    align-items: center;
    /* justify-content: center; */
}

.footer-contact {
    align-items: center;
    display: flex;
    gap: 10px;

    & .img-mail {
        width: 20px;
    }
}

/* hero Styles */
.hero {
    display: flex;
    gap: 30px;
    justify-content: flex-start;
    margin-top: 50px;

    & a {
        margin: 8px 0;
    }

    & img {
        max-width: 150px;
        border-radius: 25% 10%;
    }

    & p {
        display: flex;
        align-items: center;
    }

    & .hero-contact {
        display: flex;
        align-items: center;
        gap: 10px;
    }

    & .img-mail {
        width: 20px;
    }
}

.icon {
    width: 30px;
}

.logo {
    padding: 8px;
    margin: 10px 0;
    width: 70px;
    background-color: var(--skyblue);
    border-radius: 20% 20%;
}
/* Projects Styles */
.projects {
    margin-top: 15px;
}

.projects-item {
    & h3 {
        margin-bottom: 10px;
    }

}

.separator {
    border-top: 1px solid var(--paragrapg-color);
    height: 1px;
    padding: 0;
    margin: 30px auto 30px auto;

}
/* Tecnologys Styles */
.tecnology {
    & h2 {
        margin: 5px 0;
    }

    & span {
        align-items: center;
        background-color: var(--shadow-color);
        border-radius: 20px;
        box-shadow: 1px 0.1rem 0.1rem 0px;
        color: var(--paragrapg-color);
        display: inline-flex;
        gap: 7px;
        margin: 0 5px;
        padding: 10px 15px;
        width: fit-content;

        & img {
            width: 25px;
        }
    }
}

/* Training Styles */
.training {
    margin: 15px 0px;
}

.training-item {
    align-items: center;
    background-color: var(--shadow-color);
    border-radius: 10px;
    box-shadow: 1px 0.1rem 0.5rem 0px;
    display: grid;
    gap: 7px;
    grid-template-columns: repeat(4, 1fr);
    height: 110px;
    padding: 10px;
    
    & a {
        display: flex;
        flex-direction: column;
        width: 165px;
    }

    & h3 {
        width: 420px;
    }

    & p {
        width: 350px;
    }
}

.trainning-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}